
# xcode
*.pbxuser
*.perspectivev3
*.mode*v3
xcuserdata
build
*.app
*.a
.xccheckout

# OSX
*.DS_*

# Win
*.exe
*.dll
*.sdf
*.suo
*.vcxproj.user

# ignore example files for now
editorSyntaxExample/Makefile
editorSyntaxExample/Project.xcconfig
editorSyntaxExample/bin/data/hello4.txt
editorSyntaxExample/bin/data/test.txt
editorSyntaxExample/bin/data/test2.txt
editorSyntaxExample/config.make
editorSyntaxExample/editorSyntaxExample.xcodeproj
editorSyntaxExample/openFrameworks-Info.plist
editorSyntaxExample/of.entitlements

glEditorExample/Makefile
glEditorExample/Project.xcconfig
glEditorExample/config.make
glEditorExample/editorExample.xcodeproj
glEditorExample/openFrameworks-Info.plist
glEditorExample/glEditorExample.xcodeproj
glEditorExample/of.entitlements

glslExample/Makefile
glslExample/Project.xcconfig
glslExample/config.make
glslExample/livecodingExample.xcodeproj
glslExample/openFrameworks-Info.plist
glslExample/glslExample.xcodeproj
glslExample/of.entitlements

livecodingExample/Makefile
livecodingExample/Project.xcconfig
livecodingExample/config.make
livecodingExample/livecodingExample.xcodeproj
livecodingExample/openFrameworks-Info.plist
livecodingExample/livecodingExample.xcodeproj
livecodingExample/of.entitlements
